.mainContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding: 1rem;
}

main, header { margin-bottom: 2rem; }

.selected {
  border: 2px solid black;

  &:hover { cursor: pointer; }
}

.image {
  position: absolute;
  top: 10rem;
  left: 10rem;
  max-height: 500px;
}

.bettermentShape {
  position: relative;
  width: 100%;
  height: 300px;
  border: 1px solid black;
}

.fileEditTools {
  display: flex;
  align-items: center;
}
