/* Margin and padding */
.mb-2 { margin-bottom: 2rem; }
.m-auto { margin: auto; }
.p-1 { padding: 1rem; }
.ml-xs { margin-left: .5rem; }

/* Display */
.overflowVisible { overflow: visible !important; }
.displayFlex { display: flex; }
.flexColumn { flex-direction: column; }
.alignItemsCenter { align-items: center; }

/* Utilities */
.bg-betterment { background-color: #ffc729; }
.maxHeight { height: 100vh; }

/* File upload and file display */
.selected {
  border: 2px solid black;
  z-index: 10000;
  opacity: 0.75;

  &:hover { cursor: pointer; }
}

input[type="file"] {
  z-index: 10000;
  width: 200px;
  position: sticky;
}

input[type="numeric"] {
  width: 40px;
}

.image {
  position: absolute;
  top: 10rem;
  left: 10rem;
  max-height: 1000px;
}

/* Betterment shape styling */

.bettermentShapeContainer {
  position: relative;
  width: 500px;
  height: 500px;
}

.bettermentShape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  border-radius: 50%;
}

.bettermentShapeHelper {
  background-color: #ffc729;
  position: absolute;
  height: 220px;
  width: 220px;
  border-top: 2px solid black;
}

.shapeHelperLeft{
  top: 349px;
  left: 200px;
  transform: rotate(23deg);
}

.shapeHelperRight {
  top: 349px;
  left: 84px;
  transform: rotate(337deg);
}
