body { background-color: #ffc729; }

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 1rem;
}

main, header { margin-bottom: 2rem; }

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.selected {
  border: 2px solid black;

  &:hover { cursor: pointer; }
}

input[type="file"] {
  z-index: 10000;
  width: 200px;
  display: flex;
  position: sticky;
  margin: auto;
}

.image {
  position: absolute;
  top: 10rem;
  left: 10rem;
  max-height: 500px;
}

.bettermentShapeContainer {
  position: relative;
  width: 500px;
  height: 500px;
}

.bettermentShape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  border-radius: 50%;
}

.bettermentShapeHelper {
  background-color: #ffc729;
  height: 220px;
  width: 220px;
  border-top: 2px solid black;
}

.shapeHelperOne {
  top: 349px;
  left: 200px;
  position: absolute;
  transform: rotate(23deg);
}

.shapeHelperTwo {
  top: 349px;
  left: 84px;
  position: absolute;
  transform: rotate(337deg);
}

.fileEditTools {
  display: flex;
  align-items: center;
}
